// for ".hidden-..." styles
@import (reference) "../bower_components/bootstrap/less/bootstrap";
//for "col-..." styles
@import (reference, less) "../bower_components/bootstrap/dist/css/bootstrap.css";

#add_food_wrapper {
  margin-top: 20px;

  .food_search {
    form.input {
      width: 50%;
    }

    button {

      &.navigation {
        float: right;
        position: relative;
        top: -24px;
      }

      margin-right: 10px;
      span {
        .app-button-text-big;
        color: #959595;
      }

      // for fontAwesome
      i {
        font-size: 44px;
        color: #959595;
      }
    }
    .foods-table {
      max-height: 296px;
      overflow-y: auto;
    }
  }

  #search-result {

    margin: 20px 0 0 0;
  }

}