// for ".hidden-..." styles
@import (reference) "../bower_components/bootstrap/less/bootstrap";
//for "col-..." styles
@import (reference, less) "../bower_components/bootstrap/dist/css/bootstrap.css";

#meal {
  a {
    .pull-left;
    span {
      font-size: 18px;
    }
  }

  .food_search {

    input[type=text] {
      width: 50%;
      margin: 0 0 20px 0;
    }

    button {
      span.search-icon {
        .app-button-text-big;
        color: #959595;
      }
    }
  }
}
